<footer class="footer">
        © <%= new Date().getFullYear() %> Thank you DevbyNosa
      </footer>
    </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>
  <script src="../js/admin.js"></script>
  <script src="../../js/cms.js"></script>
</body>
</html>
